.archer-icon {
  display: inline-block;
  line-height: 1;
  font-size: 25px;
}

.archer-icon > * {
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  vertical-align: middle;
}

.archer-icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: -0.15em;
}
